<section class="prefooter-title">
    <h2>QUÉ DEBES SABER</h2>
</section>

<section>
    <div id="prefooter-container">
        <div class="prefooter-card">
            <h2>REGLAS DE LA CASA</h2>
            <h3>SALIDA ANTES DE LAS 1:00 P.M.</h3>
            <h3>NO SE ADMITEN MASCOTAS.</h3>
            <a href="#">SABER MÁS ></a>
        </div>
        <div class="prefooter-card">
            <h2>SEGURIDAD Y PROPIEDAD</h2>
            <h3>NO HAY DE ALARMA DE HUMO.</h3>
            <h3>ALBERCA/JACUZZI SIN REJA NI PUERTA</h3>
            <h3>CON LLAVE.</h3>
            <h3>NO SE REQUIERE DETECTOR DE</h3>
            <h3>MONÓXIDO DE CARBONO.</h3>
            <a href="#">SABER MÁS ></a>
        </div>
        <div class="prefooter-card">
            <h2>POLÍTICA DE CANCELACIÓN</h2>
            <h3>SI CANCELAS ANTES DE LA FECHA DE</h3>
            <h3>LLEGADA (5 ENE.), RECIBIRÁS UN</h3>
            <h3>REEMBOLSO PARCIAL</h3>
            <h3>PASADO ESE PLAZO, TU REEMBOLSO</h3>
            <h3>DEPENDERÁ DE CUÁNDO CANCELES.</h3>
            <a href="#">SABER MÁS ></a>
        </div>
    </div>
</section>
