<section class="reservas-container">
    <!-- Controles Huéspedes -->
    <div class="reservas-form">
        <label for="huespedes">
            <span>HUÉSPEDES</span>
        </label>
        <!--Aquí estoy colocando los botones, en este caso se ría -->
        <div class="controles">
            <button (click)="restaHuespedes()">-</button>
            <input type="text" id="guests" [value]="guests" readonly /> <!--Solo lectura-->
            <button (click)="incrementoHuespedes()">+</button>
        </div>
    </div>

    <!-- NOCHES -->
    <div class="reservas-form">
        <label for="noches">
            <span>NOCHES</span>
        </label>
        <div class="controles">
            <button (click)="restaNoches()">-</button>
            <input type="text" id="nights" [value]="nights" readonly />
            <button (click)="incrementoNoches()">+</button>
        </div>
    </div>

    <!-- EXTRAS -->
    <div class="extras">
        <h3>EXTRAS</h3>
        <div *ngFor="let extra of extras">
            <label>
                <input type="checkbox" (change)="extrasSeleccionados($event, extra)" />
                {{ " + " + extra.name + " " + formato(extra.price) }}
            </label>
        </div>
    </div>

    <!-- TOTAL -->
    <div class="total">
        <h4>TOTAL CON IMPUESTOS</h4>
        <span>{{ formato(total) }}</span>
    </div>

    <!-- BOTÓN RESERVAR -->
    <div class="button-container">
        <button class="reserve-button">Reservar</button>
    </div>
</section>