<section>
    <div id="datos-container">
        <div class="datos-alojamientos">
            <h2>ALOJAMIENTO ENTERO</h2>
            <h3>CASA DE CAMPO EN TEPOTZOTLÁN, MÉXICO</h3>
        </div>
        <div class="datos-alojamientos">
            <h2>MÁS DE 16 HUÉSPEDES</h2>
            <ul>
                <li><i class="fa-solid fa-bed"></i><h3> 6 HABITACIONES</h3></li>
                <li><i class="fa-solid fa-toilet"></i><h3> 6 BAÑOS</h3></li>
            </ul>
        </div>
        <div class="datos-alojamientos">
            <h2>ANFITRIÓN:</h2>
            <h3>DIEGO</h3>
            <h3>2 AÑOS DE EXPERIENCIA</h3>
        </div>
    </div>
</section>

<section class="estancias-title">
    <h1>ESTANCIAS</h1>
</section>

<section class="container-general">
    <div class="container-cards">
        <img src="{{ estancia1.image }}" alt="Estancia 1">
        <h2>{{ estancia1.title }}</h2>
        <p>{{ estancia1.descripcion1 }}</p>
        <p>{{ estancia1.descripcion2 }}</p>
    </div>
    <div class="container-cards">
        <img src="{{ estancia2.image }}" alt="Estancia 2">
        <h2>{{ estancia2.title }}</h2>
        <p>{{ estancia2.descripcion1 }}</p>
        <p>{{ estancia2.descripcion2 }}</p>
    </div>
    <div class="container-cards">
        <img src="{{ estancia3.image }}" alt="Estancia 3">
        <h2>{{ estancia3.title }}</h2>
        <p>{{ estancia3.descripcion1 }}</p>
        <p>{{ estancia3.descripcion2 }}</p>
    </div>
</section>




