<div class="estancias-container">
    <img [src]="imagen" alt="No existe la imagen">
    <div>
        <button (click)="colocarImagen(1)" class="boton-imagen">
            <img src="/assets/Casaportada.webp" alt="Imagen 1">
        </button>
        <button (click)="colocarImagen(2)" class="boton-imagen">
            <img src="/assets/sala.webp" alt="Imagen 2">
        </button>
        <button (click)="colocarImagen(3)" class="boton-imagen">
            <img src="/assets/recámara.webp" alt="Imagen 3">
        </button>
    </div>
</div>
